.login--form{
    border: 2px solid rgb(47,51,69);
    border-radius: 5px;
    margin: 100px auto;
    padding: 20px 0;
    width: 50%;
}

/* ERROR */
.error{
    color: rgb(240, 0, 0);
    font-size: 0.9rem;
}

.error-login{
    display: block;
    text-align: center;
}


/* TITLE */
.login--title{
    border-bottom: solid 2px rgb(47,51,69);
    margin: 0 auto 30px;
    width: 97%;
}

.login--title h2{
    margin-bottom: 10px;
}

/* INPUTS */
.login--login{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
}

.login--label{
    align-self: center;
    justify-self: end;
    margin: 0 20px;
}

.login--input{
    align-self: center;
    height: 25px;
    margin: 15px 0;
    width: 200px;
}

/* REMEMBER */
.login--checkbox{
    align-self: center;
    grid-column: 2;
    grid-row: 3;
}

.login--label--remember{
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
    width: 75%;
}

/* BUTTON */
.login--btn{
    grid-column: 2;
    justify-self: start;
    margin: 10px 0;
    padding: 3px 10px;
}