.login--form{
    border: 2px solid rgb(125,176,173);
    border-radius: 5px;
    margin: 100px auto;
    padding: 20px 0;
    width: 50%;
}

/* ERROR */
.error{
    color: rgb(240, 0, 0);
    font-size: 0.9rem;
}

.error-login{
    display: block;
    text-align: center;
}


/* TITLE */
.login--title{
    border-bottom: solid 2px rgb(125,176,173);
    margin: 0 auto 30px;
    width: 97%;
}

.login--title h2{
    margin-bottom: 10px;
}

/* INPUTS */
.login--login{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
}

.login--label{
    align-self: center;
    justify-self: end;
    margin: 0 20px;
}

.login--input{
    align-self: center;
    height: 25px;
    margin: 15px 0;
    width: 200px;
}

/* REMEMBER */
.login--checkbox{
    align-self: center;
    grid-column: 2;
    grid-row: 3;
}

.login--label--remember{
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
    width: 75%;
}

/* BUTTON */
.login--btn{
    grid-column: 2;
    justify-self: start;
    margin: 10px 0;
}

/* REGISTER */
.login--registrar{
    text-align: end;
    margin-right: 20px;
}
.login--registrar a{
    text-decoration: none;
    font-size: 1.1rem;
}

/* RESPONSIVE */
@media (min-width: 580px) and (max-width: 767px){
    .login--login {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .login--label{
        justify-self: unset;
    }
    .login--checkbox{
        grid-column: 1;
        grid-row: 5;
        justify-self: self-start;
        width: 75%;
    }
    .login--label--remember{
        grid-column: 1;
        grid-row: 5;
        justify-self: end;
        width: 55%;
    }
    .login--btn{
        grid-column: 1;
        justify-self: unset;
    }
}

@media(min-width:480px) and (max-width:579px){
    .login--form {
        width: 75%;
    }
    .login--login {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .login--label{
        justify-self: unset;
    }
    .login--checkbox{
        grid-column: 1;
        grid-row: 5;
        justify-self: self-start;
        width: 75%;
    }
    .login--label--remember{
        grid-column: 1;
        grid-row: 5;
        justify-self: end;
        width: 55%;
    }
    .login--btn{
        grid-column: 1;
        justify-self: unset;
    }
}

@media(min-width:320px) and (max-width:479px){
    .login--form {
        width: 75%;
    }
    .login--login {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .login--label{
        justify-self: unset;
    }
    .login--checkbox{
        grid-column: 1;
        grid-row: 5;
        justify-self: self-start;
        width: 75%;
    }
    .login--label--remember{
        grid-column: 1;
        grid-row: 5;
        justify-self: end;
        width: 55%;
    }
    .login--btn{
        grid-column: 1;
        justify-self: unset;
    }
}