@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{ 
    min-height: 100vh;
    overflow: auto;
}

h1,h2,h3,h4,h5,h6,p,a,li,label{
    font-family: 'Nunito', sans-serif;
}

.nav{
    align-items: center;
    background-color: rgb(125,176,173);
    display: flex;
    min-height: 50px;
}

.nav--ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 50px;
    width: 100%;
}

.nav--ul__li a{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav--login{
    display: flex;
}

.nav--ul__li:not(:last-child){
    margin-right: 40px;
}

.nav--dropdown{
    display: none;
}

.btn{
    border: rgb(0, 173, 162) 1px solid;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(0, 173, 162);
    padding: 10px 20px;
}

/* RESPONSIVE */
@media (min-width: 240px) and (max-width: 767px){
    .nav{
        justify-content: space-between;
    }
    .nav--ul{
        width: auto;
    }
    .nav--login{
        display: none;
    }
    .nav--dropdown{
        align-items: flex-end;
        display: flex;
        flex-direction: column;
    }
    .button-dropdown {
        background:transparent;
        border: none;
        margin-right: 50px;
        outline: none;
    }
    .button-dropdown i{
        color: #fff;
    }
    .dropdown--content{
        display: none;
    }
    .nav--ul--dropdown{
        list-style: none;
        margin-right: 10px;
    }
    .nav--ul__li--dropdown{
        margin-top: 5px;
    }
    .nav--ul__li--dropdown a{
        color: #fff;
        font-size: 1.2rem;
        text-decoration: none;
    }
}